body{
    margin: 0px;
}

#container{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;

    grid-template-areas: 
    "hd"
    "sc";
}

header {
    grid-area: hd;
    display: flex;
    background-color: coral;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 5px;
    font-size: 100px;
}

h2{
    margin: 5px;
    font-size: 50px;

}

.section{
    grid-area: sc;
    display: flex;
    background-color: coral;
    justify-content: space-evenly;
    align-items: flex-end;
}

.section #menu{
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 100px 10px 10px 100px;
}

.section #about_us{
    background-color: moccasin;
    width: 700px;
    height: 700px;
    padding: 20px;
    margin:  20px;
    border-radius: 30px;
}

.section #animals{
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px 100px 100px 10px;
}

.vargbild{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 100px 100px 10px;
}

.vargbild1{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px 10px 10px 100px;
}


#container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;

    grid-template-areas: 
    "hd1"
    "sc1";
}

.hd1 {
    grid-area: hd1;
    display: flex;
    background-color: coral;
    justify-content: center;
    align-items: center;
}

.sc1 {
    grid-area: sc1;
    display: flex;
    background-color: coral;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* djur */

#container1{
    display: grid;
    height:  100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 50% 40%;
    grid-area: 
    "nv nv"
    "mn a1"
    "mn a2"
    ;
}

.nv {
    grid-area: nv;
    background: blue;
}